<div class="wrapper">
    <img src="../../assets/{{plant.img}}">
    <div>
        <h2>{{plant.name}}</h2>
        <div class="buy">
            <p *ngIf = "plant.isAvailability">
                <span class="cost" [ngClass] = "{costReduced:plant.isDiscount}">
                    {{plant.cost}} грн
                </span> 
                <span class="discount" *ngIf="plant.isDiscount">
                    {{plant.costDiscount}} грн
                </span>
            </p>
            <p *ngIf = "!plant.isAvailability" class="notPlant">
                Немає в наявності
            </p>
            <input type="button" value="В кошик">
        </div>
        <p>{{plant.specification}}</p>
    </div>
</div>

