<div>
    <h3>Доставка поштовими службами:</h3>
    <h4>Доставка на склад компанії "Нова пошта":</h4>
    <p>При замовленні на суму вище 1000 грн - доставка Безкоштовна. 
        При отриманні Вашого замовлення Ви тільки сплачуєте за Ваше замовлення.
        При замовленні на суму до 1000 грн - вартість доставки 69 гривень.
        Доставка замовленого товару на склад транспортної компанії "Нова пошта" - 
        від 1 до 3 діб після відправки.
    </p>
    <h4>Доставка на поштове відділення "Укрпошти":</h4>
    <p>При замовленні на суму вище 1000 грн - доставка Безкоштовна. 
        При отриманні Вашого замовлення Ви тільки сплачуєте за Ваше замовлення.
        При замовленні на суму до 1000 грн - вартість доставки 59 гривень. 
        При отриманні Вашого замовлення Ви тільки сплачуєте за Ваше замовлення.
        Доставка замовленого товару на поштове відділення "Укрпошти" - 
        від 3 до 7 діб після відправки.
    </p>
    <h3>Способи оплати</h3>
    <h4>Готівка:</h4>
    <p>Оплата готівкою при отриманні замовлення у відділенні “Нова Пошта” 
        або “Укрпочта”. Оплата відбувається після перевірки замовлення. 
        Оплативши замовлення у відділені пошти, Ви підтверджуєте 
        факт перевірки посилки та відповідність Вашому замовленню. 
        Зверніть увагу що Ви НЕ сплачуєте зворотнього надсилання коштів за замовлення.
    </p>
    <h4>Онлайн-оплата Liqpay:</h4>
    <p>Оплата замовлення банківською карткою Visa або MasterCard. 
        Доставка замовлення відбувається тільки після підтвердження оплати. 
        Щоб оплатити замовлення банківською карткою, при оформленні замовлення, 
        виберіть в корзині пункт Оплата онлайн (Приват24)”. 
        Після натискання кнопки “Підтвердити замовлення”, Ви будете перенаправлені  
        на сторінку системи безпечних платежів.
    </p>
</div>